.ipynb_checkpoints
cat2dog.zip
ImageFolder/cat2dog/
Datasets/
bikebuyer1.csv
Boston.csv
Final_Data.csv
Google_Stock_Price_Train.csv
updated_bike_buyers.csv
uploads/
.env
firebase-adminsdk.json
a.json
automl